.App {
  text-align: center;
}

.opaque {
  opacity: .5;
}

body {
  background-color: #f7f7f7;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
