.loginStatus {
  display: inline-block;
  margin: 10px;
  margin-top: 45px;
  padding-bottom: 5px;
  font-size: 20px;
  color: #3b435b;
}

.loginStatus:hover {
  border-bottom: 3px solid #edb500;
  cursor: pointer;
  color: #edb500;
}
