.postShow {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: white;
  padding: 50px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.postShowTitle {
  padding: 20px;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
  color: #3b435b;
}

.postShowBody {
  padding: 20px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  color: #838487;
  font-family: monospace;
  font-size: 20px;
}

.postShowAuthor {
  padding: 20px;
  text-align: left;
  font-style: italic;
  margin-left: 50px;
  color: #838487;
}

.published {
  text-align: left;
  margin-left: 70px;
  color: #838487;
  margin-top: 10px;
}
