.comment {
  background-color: #e8eaed;
  padding: 50px;
  margin-bottom: 10px;
}

.commentBody {
  text-align: left;
  margin-bottom: 10px;
}

.commentAuthor {
  text-align: left;
}

.commentDate {
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
  font-style: italic;
}
