.notification {
  left: 50%;
  margin-left: -400px;
  width: 600px;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 100px;
  padding-left: 100px;
  border: 1px solid #ed4b1e;
  background-color: white;
  text-align: center;
  position: fixed;
}

.notificationButton {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 0px;
  border: none;
  width: 180px;
  background-color: #ed4b1e;
  color: white;
  font-size: 15px;
  outline: none;
  transition: background-color 0.3s;
}

.notificationButton:hover {
  background-color: #ff9d00;
  transition: background-color 0.3s;
}

.notificationButton:active {
  margin-top: 22px;
  margin-bottom: 18px;
}
